{% extends 'blogs/base.html' %}


{% block title %}
    Add Blogs
{% endblock title %}
    

{% block body %}



<section class="section pt-55 mb-50">
    <div class="container-fluid">
        <div class="sign widget">
            <div class="section-title">
                <h5>Add Blog</h5>
            </div>
            {{form.errors}}
        
            <form class="sign-form widget-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{form.title}}
                </div>
                <div class="form-group">
                    {{form.blog_type}}                        
                </div>
                <div class="form-group">
                    {{form.description}}
                </div>
                
                <div class="form-group">
                    <label > Blog Image</label>
                    {{form.picture}}
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn-custom">Add Blog</button>
                    </div>
                        
            </form>
















<!-- <div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}

        <button type="submit" class="btn btn-warning">Add Blog</button>
    </form>
</div> -->
{% endblock body %}
    